
/* =Base Styles
-------------------------------------------------------------- */

/* Typography */
body { line-height: 1.5; }
body, select, input, textarea {
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 0.25em 0;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  line-height: 1.25;
}
h1 { font-size: 2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; text-transform: uppercase; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #268099; }
a:hover { color: #48a5bf; }
p { margin: 0 0 1.2em; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
ul, ol, dl { margin-bottom: 0.6em; }
ul li, ol li { padding-bottom: 0.6em; }
ul.unstyled-list, ol.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.unstyled-list li, ol.unstyled-list li {
  padding-bottom: 0;
}
strong {
  font-weight: 800;
}
blockquote {
  font-size: 1.75em;
}
hr {
  margin: 1.5em 0;
  border: 0;
  border: 1px solid #eeeeee;
  border-top-color: rgba(0,0,0,0.2);
  border-bottom-color: rgba(255,255,255,0.75);
  border-right: 0;
  border-left: 0;
}
.container hr {
  margin-right: -10px;
  margin-left: -10px;
}
.capitalize { text-transform:capitalize; }

/* Images */
img {
  max-width: 100%;
  height: auto;
}
.icon-inline {
  height: 1.5em;
  width: auto;
  margin: 0 0.25em -0.325em 0.5em;
}
.icon-muted {
  opacity: 0.75;
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  padding: 0.325em 0.5em 0.125em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #00a79c;
  font-weight: 700;
  border: 3px solid rgba(0,0,0,0.15);
  border-top-color: rgba(255,255,255,0.25);
  border-right-color: rgba(255,255,255,0.25);
  border-radius: 2px;
  text-shadow: 0 -1px rgba(0,0,0,0.25);
  overflow: hidden;

  clear: both;
  display: block;
  margin: 0.325em 0 1.2em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:visited,
.btn-disabled:link {
  color: #eee;
  background-color: #ddd;
  border: 3px solid #ddd;
  text-shadow: none;
  cursor: text;
}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide for both screenreaders and browsers */
.is-hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders */
.is-screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.is-invisible { visibility: hidden; }

.nobreak { white-space: nowrap; }


/* =Layout
-------------------------------------------------------------- */

html { height: 100%; }
body {
  min-height: 100%;
  background-color: #fff;
  text-align: left;
}
.container {
  max-width: 1000px;
}
.primary, .secondary, .site-footer, .tumblr {
  padding: 1em 6%;
}
.secondary {
  position: relative;
  background-color: #cef0f2;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  border-top: 0.25em solid #acdfe3;
}


/* =Header
-------------------------------------------------------------- */

.site-header {
  overflow: hidden;
  text-align: center;
}
.site-intro {
  padding: 0.5em 0.75em 0;
  color: #fbad53;
  font-weight: 700;
}
.site-title {
  margin-right: -6%;
  margin-left: -6%;
}
.logo {
  display: block;
}
.site-title a {}
.site-description {
  font-size: 1.325em;
  font-weight: 700;
  color: #fff;
  background-color: #799AA0;
  padding: 0.5em 6%;
  text-shadow: 1px -1px 1px #787E78;
  border-bottom: 0.25em solid #ddd;
}
.site-description a {
  color: #fff;
}


/* =Content
-------------------------------------------------------------- */

ul.dates-list {
  margin-bottom: 1.25em;
}
.dates-list li {
  font-size: 1.25em;
  margin-bottom: 2em;
}
.map-marker {
  margin-left: -0.25em;
}
.city { color: #83847B; }
.date { margin-right: 0.5em; }
.raquo { color: #A0D2D3; }
.container p {
  max-width: 37em;
}

.twitter-widget {
  display: none;
}


/* =Footer
-------------------------------------------------------------- */

.site-footer {
  color: #cef0f2;
  background-color: #799AA0;
  border-top: 0.5em solid #A0D2D3;
  position: relative;
  box-shadow: 0 15px 0 rgba(0,0,0,0.1);
}
.site-footer a {
  color: #fff;
  font-weight: 700;
}
.site-footer .container {}


/* =Tumblr
-------------------------------------------------------------- */

.tumblr {
  overflow: hidden;
  background: #eee;
  padding-top: 2em;
}
.post {  
  max-width: 37em;
  margin-bottom: 2em;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 15px 0 rgba(0,0,0,0.1);
}
.post-container {
  padding: 1.5em;
}
.post-title {
  font-size: 2em;
}
.post-title a {
  text-decoration: none;
}
.post-meta {
  color: #799AA0;
  font-size: 0.75em;
  margin-top: 1em;
  text-align: right;
}


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
  .site-title {
    margin-right: 0;
    margin-left: 0;
  }
  .site-description { font-size: 1.5em; }
}

@media only screen and (min-width: 768px) {
  .site-intro { 
    text-align: left;
    padding: 30px 0 0;
    width: 25em;
    margin: 0 0 0 30px;
  }
  .logo { 
    width: 600px; 
    margin-left: 66px;
  }
  .site-description { 
    font-size: 1.75em; 
    padding-right: 60px;
    padding-left: 60px;
    text-align: left; 
  }
  .primary, .secondary, .site-footer, .tumblr {
    padding-left: 132px;
  }
  .info {
    float: left;
    padding-top: 0.325em;
    padding-bottom: 0.125em;
  }
  .btn,
  .btn:visited,
  .btn:link {
    clear: none;
    display: inline-block;
    width: auto;
    float: left;
    margin: 0;
  }
  .dates-list li {
    margin-bottom: 1em;
  }
  .twitter-widget {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .logo { 
    margin-left: 26px;
  }
  .primary, .secondary, .site-footer, .tumblr {
    padding-left: 92px;
  }
  .site-description {
    padding-right: 41%;
    padding-left: 30px;
    margin: 0;
    border-bottom: 0;
  }
  .primary {
    position: absolute;
    top: 4.5em;
    right: 0;
    padding: 1.5em 1.5em 0.5em;
    background: #eee;
    border-radius: 18px 0 0 18px;
    box-shadow: 0 15px 0 rgba(0,0,0,0.1);
  }
  .info, 
  .btn,
  .btn:visited,
  .btn:link {
    float: none;
  }
  .container {
    max-width: none;
  }
  .secondary section {
    width: 45%;
    float: left;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 1300px) {
  .primary {
    left: 60%;
  }
}
